name: MLflow Training CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    # =========================
    # 1. Checkout Repository
    # =========================
    - name: Checkout repo
      uses: actions/checkout@v4

    # =========================
    # 2. Setup Python
    # =========================
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    # =========================
    # 3. Install Dependencies
    # =========================
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install \
          mlflow==2.19.0 \
          dagshub \
          pandas \
          scikit-learn \
          matplotlib \
          seaborn

    # =========================
    # 4. Set MLflow DagsHub ENV
    # =========================
    - name: Set MLflow DagsHub Env
      run: |
        echo "MLFLOW_TRACKING_URI=https://dagshub.com/zakialfadilah/loan-prediction-mlflow.mlflow" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_USERNAME=${{ secrets.DAGSHUB_USER }}" >> $GITHUB_ENV
        echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.DAGSHUB_TOKEN }}" >> $GITHUB_ENV

    # =========================
    # 5. Run MLflow Project
    # =========================
    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local

    # =========================
    # 6. Build Docker Image
    # =========================
    - name: Build Docker Image from MLflow Model
      run: |
        mlflow models build-docker \
          --model-uri runs:/latest/model \
          --name zakialfadilah/loan-prediction-mlflow

    # =========================
    # 7. Login Docker Hub
    # =========================
    - name: Login Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
          -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    # =========================
    # 8. Push Docker Image
    # =========================
    - name: Push Docker Image
      run: |
        docker push zakialfadilah/loan-prediction-mlflow
